// Colors defined by brand guidelines
// Beyond blue, each is the 700 variant of the color
$blue: #2560ff;
$purple: #5700bb;
$red: #e40c2c;
$orange: #da5c00;
$yellow: #eb9c00;
$green: #2d9568;
$teal: #2c9ea0;

$gray-100: #f8f8f8 !default;
$gray-200: #c8cfda !default;
$gray-300: #a9b4c6 !default;
$gray-400: #8b99b2 !default;
$gray-500: #6c7e9d !default;
$gray-600: #566581 !default;
$gray-700: #434c5f !default;
$gray-800: #2c333f !default;
$gray-900: #1e2129 !default;
$black: #0f121b !default;

$font-family-sans-serif: Inter, Helvetica, Arial, sans-serif;
$font-family-monospace: "Roboto Mono", "Courier New", Courier, monospace;
$font-size-base: 0.875rem;

$light-bg-subtle-dark: $gray-800;
$light-bg-subtle: $gray-100;

$border-color: #e5e5e5;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/bootstrap";

@import "rehype-github-alerts/styling/css/index.css";

@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  src: url(/material-symbols.woff2) format("woff");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-size: 1.5em;
  font-weight: 400;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 1.2;
}

h1 {
  font-size: 28px;
  margin: 30px 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-200;
}
h2 {
  font-size: 24px;
  margin: 30px 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-200;
}
h3 {
  font-size: 20px;
  border-bottom: 1px dashed $gray-200;
  padding-bottom: 10px;
}
h4 {
  font-size: 18px;
  border-bottom: 1px dotted $gray-200;
  padding-bottom: 4px;
}

li {
  margin-bottom: 8px;
  line-height: 1.5;
}

#root {
  display: flex;
  height: 100vh;
}

.resizable-panel > div {
  height: 100%;
  overflow: auto;
}

.panel-resize-handle {
  background-color: var(--bs-light-bg-subtle);
  cursor: col-resize;
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 0 0 0.5rem;
  outline: none;

  svg {
    width: 1rem;
    height: 1rem;
  }
}

div.code-block {
  button.btn {
    font-family: $font-family-sans-serif !important;
  }

  // Give enough space for the copy button
  > div {
    &:has(+ .copy-button-container),
    &:has(~ .copy-button-container) {
      padding-right: 6rem !important;
    }
  }
}

.app-nav {
  width: 68px;
  font-size: 0.65em;
  background-color: $gray-900;
  padding-top: 10px;
}

.app-nav a {
  padding-left: 0px;
  padding-right: 0px;
  color: white !important;
}

.app-nav .active .badge {
  background-color: $blue;
}

.app-nav .app-icon {
  color: white;
  padding: 10px;
  font-size: 20px !important;
}
