.workshop-header {
  z-index: 10;
  container-type: inline-size;

  .workshop-nav {
    display: flex;
    justify-content: end;
  }

  @container (width < 600px) {
    .row > * {
      width: 100%;
    }

    .workshop-nav {
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
    }
  }
}
